<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>sla-clock</title>
  </head>
  <body>
    <div id="slaClock"></div>
  </body>
</html>